header {
	background-color: #ccc;
	height: 80px;
	margin-bottom: 25px; 
}

.btn-file {
	color: #fff;
    background-color: #6495ED;
    border-color: #ccc;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.btn-file:hover {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.error-text {
	background-color: #f5d8d8;
	border: 1px solid #ff0000;
	color: #ff0000;
    line-height: 20px;
    margin-top: 10px;
    padding: 5px 10px;	
}
.preview {
	height: 200px;
	margin-bottom: 15px;
	width: 200px;
}